.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}
.text{
    font-size: 24px;
    margin: 20px 0;
}
button{
    background-color: blue;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
}